<h2><%= @student.name%></h2>

<p>
  <strong>Student username:</strong>
  <%= @student.username%>
</p>

<p>
  <strong>Student email:</strong>
  <%= @student.email%>
</p>

<p>
  <strong>Department name:</strong>
  <%= @student.department.name%>
</p>
