<h2><%= @department.name%></h2>

<p>
  This department has <%= @department.students.count %> students under it.
</p>

<ul>
  <% @department.students.each do |row| %>
    <li><%= link_to row.name, row %></li>
  <% end %>
</ul>
