<h2><%= @department.name%></h2>

<p>
  This department has <%= @department.students.count %> students under it.
</p>

<div class="columns">
  <% @department.students.each do |row| %>
    <div class="column row-name is-narrow"><%= link_to row.name, row %></div>
  <% end %>
</div>
